---
layout: base.njk
title: Page not found
permalink: /404.html
---

<div class="uk-text-center uk-margin-large-top">
  <div class="portal-logo uk-margin-auto">
    <i class="fa-solid fa-compass"></i>
  </div>
  <h1 class="uk-heading-medium uk-margin-small-top">404</h1>
  <p class="uk-text-lead uk-text-muted">We couldn't find that page.</p>
  <a class="uk-button uk-button-primary uk-margin-small-top" href="/">Back to the portal</a>
</div>
